<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login - MentalMatters</title>

</head>
<body>

<div class="login-wrapper">
  <div class="login-info">
    <div class="logo">
      <img src="../assets/VW_logo_small.jpg" alt="MentalMatters Logo">
    </div>
    <div class="title">MentalMatters</div>
    <div class="slogan">Equipes saudáveis, pessoas felizes!</div>
  </div>
  <div class="login-form">
    <input type="text" placeholder="Usuário">
    <input type="password" placeholder="Senha">
    <button (click)="navigateToAbout()" class="login-btn">Entrar</button>
  </div>
</div>

</body>
</html>
