.content {
  display: grid;
}

/* LEFT CONTENT */
.left-content {
  display: grid;
  grid-template-rows: 50% 50%;
  background: #F6F7FB;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
}

/* ACTIVITIES */
.activities h1 {
  margin: 0 0 5px 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: #022C5F;
}

.details-text {
  color: #022C5F;
  margin-left: 600px;
}

.fabricas-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #FFF; /* Esta é a cor de fundo que foi adicionada */
  padding: 10px; /* Adiciona um pouco de espaçamento interno ao redor do conteúdo */
  border-radius: 8px; /* Adiciona bordas arredondadas ao container */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: Adiciona uma sombra para um efeito de profundidade */
  margin-right: 20px; /* Ajusta o espaçamento à direita, se necessário */
  margin-top: 10px; /* Ajusta o espaçamento no topo, se necessário */
  margin-left: 600px;
  width: 250px;
  height: 450px;
}

.fabrica {
  display: flex;
  flex-direction: column;
  margin-left: -620px;
}

.fabrica p {
  position: relative;
  left: 105px;
  text-align: center;
  margin-top: 2px;
  margin-left: 405px;
}

.imagem_fabrica {
  margin-left: 700px;
  margin-top: 10px;
}

.activities h2 {
  margin: 0 0 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
}

.chart-background {
  background-color: #FFFFFF; /* Esta é a cor de fundo que será aplicada */
  padding: 20px; /* Espaçamento interno ao redor do gráfico */
  border-radius: 15px; /* Bordas arredondadas do fundo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Sombra sutil para dar profundidade */
  margin-bottom: 20px; /* Espaço extra abaixo do gráfico, se necessário */
  margin-top: -35px; /* Ajusta o espaçamento no topo, se necessário */
  width: 750px;
  height: 380px;
  margin-left: 170px;
}

.activity-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 150px);
  column-gap: 10px;
}

.img-one {
  grid-area: 1 / 1 / 2 / 2;
}

.img-two {
  grid-area: 2 / 1 / 3 / 2;
}

.img-three {
  display: block;
  grid-area: 1 / 2 / 3 / 4;
}

.img-four {
  grid-area: 1 / 4 / 2 / 5;
}

.img-five {
  grid-area: 1 / 5 / 2 / 6;
}

.image-container {
  position: relative;
  margin-bottom: 10px;
  box-shadow: none;
}

body {
  background-color: #FFFFFF;
}

.apexcharts-canvas {
  background-color: #fff;
}

.img-six img { /* Adiciona um seletor mais específico para a imagem */
  height: 530px;  /* Altera a altura da imagem (ajuste o valor conforme desejado) */
  margin-left: 260px; /* Move a imagem para a direita (ajuste o valor) */
  margin-top: -50px; /* Move a imagem para baixo (ajuste o valor) */
}

/* Classes para as novas imagens */
.img-seven img {
  height: 140px;     /* Altura da imagem GPTW_img */
  margin-left: -950px; /* Margem à esquerda para posicionamento */
  margin-bottom: -470px; /* Move a imagem para baixo (ajuste o valor) */
}

.img-eight img {
  height: 140px;     /* Altura da imagem GPTW2_img */
  margin-right: 20px; /* Margem à esquerda para posicionamento */
  margin-left: -700px; /* Margem à esquerda para posicionamento */
  margin-bottom: -470px; /* Move a imagem para baixo (ajuste o valor) */
}

.satisfacao_stiba{
  margin-top: 70px;
  margin-left: 50px;
  color: #022C5F;
}

.gptw {
  margin-top: -45px;
  margin-left: 350px;
  color: #022C5F;
}

.stiba {
  color: #022C5F;
}


.satisfacao_stiba {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  margin-top: -160px;
  width: 250px;
  height: 140px;
  margin-left: 280px;
  font-size: 1.2rem;
}

.nota-empresa {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  margin-top: 25px;
  width: 250px;
  height: 140px;
  margin-left: 5px;
  font-size: 1.2rem;
}

.gptw {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  margin-top: -160px;
  width: 250px;
  height: 140px;
  margin-left: 560px;
  font-size: 1.2rem;
}

.stiba {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  margin-top: -160px;
  width: 250px;
  height: 140px;
  margin-left: 840px;
  font-size: 1.2rem;
}

.text-nota {
  font-size: 0.8rem;
  color: #000000;
  position: relative;
  top: 25px;
  margin-left: -59px;
}

.details2 {
  font-size: 0.8rem;
  color: #313131;
  position: relative;
  top: 100px;
  margin-left: 45px;
}

.imagem_nota {
  margin-left: 70px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
}

.imagem_nota3 {
  margin-left: 70px;
  margin-top: 30px;
  position: absolute;
  z-index: 0;
}

.imagem_notageral {
  margin-left: 90px;
  margin-top: 50px;
}

.imagem_nota2 {
  margin-left: 70px;
  margin-top: 30px;
  position: absolute;
  z-index: 0;
}

.nota-empresa {
  color: #022C5F;
}

.notaatribuida{
  font-size: 30px;
  color: #0d8e0f;
  position: relative;
  top: 20px;
  margin-left: 80px;
}

.satisfaction-value{
  font-size: 30px;
  color: #0d8e0f;
  position: relative;
  top: -3px;
  margin-left: 80px;
}

.engajagptw{
  font-size: 30px;
  color: #be6500;
  position: relative;
  top: 15px;
  margin-left: 80px;
}

.engajastiba{
  font-size: 30px;
  color: #0d8e0f;
  position: relative;
  top: 10px;
  margin-left: 80px;
}

.icone_perfil {
  margin-left: 1035px;
  margin-top: -120px;
}

.grafico_engajamento {
  margin-left: 200px;
  margin-top: -20px;
}

.grafico_segundo {
  margin-left: 210px;
  margin-top: 280px;
}

.nota-satisfacao {
font-size: 1.8rem;
color: #06A23F;
position: relative;
top: 15px;
margin-left: 72px;
}

.nota-satisfacao_stiba {
font-size: 1.8rem;
color: #FFD000;
position: relative;
top: 15px;
margin-left: 72px;
}

.satisfacao_stiba .satisfaction-value {
  margin-top: 20px;  /* Ajuste o valor conforme necessário */
  display: block;    /* Para garantir que a margin-top funcione */
}
